*{
      font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}
header h1{
    text-align: center;
    color: white;
    font-size: 2em;
}
body{
    background-image: url(/5014477.png);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
      font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
  min-height: 100vh;
  min-width: 100vw;
}
main h2{
    color: #e7ebb3;
    font-size: 2em;
    margin-left: 2em;
}

main ul li{
    list-style:none ;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 5vh;
    /* border: white 2px solid; */
    margin: 40px auto;
    border-radius: 40px;
    background: rgba(0,0,0,0);
    backdrop-filter: blur(20px);
    box-shadow: 0.3px 0.3px 0.3px 0.3px black;
}